<div class="card flex justify-center">
  <p-menu [model]="items()" styleClass="w-full md:w-60">
    <ng-template pTemplate="item" let-item>
      <div class="">
        <a
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="item.routerLinkActiveOptions || {}"
          class="flex align-items-center p-2"
        >
          <div class="flex items-center">
            <span [class]="item.icon + ' mr-2'"></span>
            <span class="font-medium">{{ item.label }}</span>
          </div>
        </a>
      </div>
    </ng-template>
  </p-menu>
</div>
